<div class="container">
	<h1>{{ site.texture.title }}</h1>
	<h2>{{ site.texture.tagline }}</h2>
	<ul class="social">
		{%- if site.texture.social_links.github -%}
			<a href="https://github.com/{{ site.texture.social_links.github }}"><li><i class="icon-github-circled"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.instagram -%}
			<a href="{{ site.texture.social_links.instagram }}"><li class="instagram"><i class="fa fa-instagram"></i></li></a>
		{%- endif -%}
		{%- if site.texture.social_links.gmail -%}
			<a href="{{ site.texture.social_links.gmail }}"><li><i class="fa fa-envelope-o"></i></li></a>
		{%- endif -%}
	</ul>
</div>
